body
        {
            margin:0;
	    padding: 0;
    cursor: url(./is/zcsb.png), default;
        }
        .main
        {
            display: block;
            width: 80px;
            margin: 0;
            padding: 0;
        }
        .main li
        {
            height: 30px;
            line-height: 30px;
            font-size: 11pt;
            list-style-type: none;
            text-align: left;
            padding-left: 8px;
            z-index: 3;
        }
        .main li a
        {
            text-decoration: none;
            color: #313131;
        }
        .main li a:hover
        {
            text-decoration: none;
            font-weight: bold;
            color: #e4393c;
        }

        .main .lihover /*鼠标移动到上面时，应用的样式*/
        {
            height:50px;
        }
         .main .lihover .submenu /*悬浮层*/
        {
            display: block;
        }
        .submenu
        {
            display: none;
            width: 90px;
            left: 80px;
            position: absolute;
            top: 10px;
            z-index: 4;
            background: white;
            box-shadow: 0 0 8px #DDD;
            -moz-box-shadow: 0 0 8px #DDD;
            -webkit-box-shadow: 0 0 8px #DDD;
        }
        .submenu a
        {
            display: block;
            color: #737373;
            font-size: 12pt;
            padding: 0 8px;
            height: 30px;
            line-height: 2;
            margin: 4px 0;
            width: 70px;
        }
        .su
        {
            display: none;
            width: 90px;
            left: 90px;
            position: absolute;
            top: 40px;
            z-index: 4;
            background: white;
            box-shadow: 0 0 8px #DDD;
            -moz-box-shadow: 0 0 8px #DDD;
            -webkit-box-shadow: 0 0 8px #DDD;
        }
/** 链接指针样式**/

    a:hover{cursor:url(./is/ljsb.png), pointer;}}
                .su a
        {
            display: block;
            color: #737373;
            font-size: 12pt;
            padding: 0 8px;
            height: 30px;
            line-height: 2;
            margin: 4px 0;
            width: 70px;
        }
        .zy{
            display: block;
            width: 80px;
            margin: 0;
            padding: 0;
        }
        .zy:hover .su{display: block;}
        .zy:hover a:hover{background-color: #e4e4dd;
        }
                .submenu:hover a:hover{background-color: #e4e4dd;
        }
                        .suu
        {
            display: none;
            width: 90px;
            left: 90px;
            position: absolute;
            top: 0px;
            z-index: 4;
            background: white;
            box-shadow: 0 0 8px #DDD;
            -moz-box-shadow: 0 0 8px #DDD;
            -webkit-box-shadow: 0 0 8px #DDD;
        }
                .suu a
        {
            display: block;
            color: #737373;
            font-size: 12pt;
            padding: 0 8px;
            height: 30px;
            line-height: 2;
            margin: 4px 0;
            width: 70px;
        }
        .gd{
            display: block;
            width: 80px;
            margin: 0;
            padding: 0;
        }
        .gd:hover .suu{display: block;}
